!!! 5
html
  head
    title Overlay
    link(rel='stylesheet', type='text/css', href='bootstrap.css')
    link(rel='stylesheet', type='text/css', href='bootstrap-responsive.css')
    link(rel='stylesheet', type='text/css', href='prettify.css')
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='windowShade.css')
    link(rel='stylesheet', type='text/css', href='overlay.css')

  body


    .container-fluid
      .row-fluid
        .span12
          header
            h1 overlay.js
      .row-fluid
        .span2.options
          form
            header
              h2 Options
            
            fieldset
              legend Backdrop
              label.radio
                input(type='radio', name='backdrop', id='backdrop-never', value='NEVER', checked)
                | Never
              label.radio
                input(type='radio', name='backdrop', id='backdrop-always', value='ALWAYS')
                | Always
              label.radio
                input(type='radio', name='backdrop', id='backdrop-when_pinned', value='WHEN_PINNED')
                | When pinned

            fieldset
              legend Position
              label.radio
                input(type='radio', name='position', id='position-absolute', value='Absolute')
                | Absolute
              label.radio
                input(type='radio', name='position', id='position-center', value='Center', checked)
                | Center
              label.radio
                input(type='radio', name='position', id='position-relative-above', value='RelativeAbove')
                | Relative (above)
              label.radio
                input(type='radio', name='position', id='position-relative-below', value='RelativeBelow')
                | Relative (below)
              label.radio
                input(type='radio', name='position', id='position-relative-left', value='RelativeLeft')
                | Relative (left)
              label.radio
                input(type='radio', name='position', id='position-relative-right', value='RelativeRight')
                | Relative (right)
              .controls-row
                input.input-mini(type='text', name='left', id='left', placeholder='left', disabled)
                input.input-mini(type='text', name='top', id='top', placeholder='top', disabled)

            fieldset
              legend Content
              textarea(rows=3, name='content', id='content')
                | Sample content.

            fieldset
              legend Style
              label.radio
                input(type='radio', name='style', id='style-alert', value='alert', checked)
                | Alert
              label.radio
                input(type='radio', name='style', id='style-error', value='alert alert-error')
                | Error
              label.radio
                input(type='radio', name='style', id='style-success', value='alert alert-success')
                | Success
              label.radio
                input(type='radio', name='style', id='style-info', value='alert alert-info')
                | Info

            fieldset
              legend Other
              label.checkbox
                input(type='checkbox', name='autoShow', id='autoShow', checked)
                | Show automatically
              label.checkbox
                input(type='checkbox', name='close', id='showClose', checked)
                | Show close button

        .span6
          header
            h2 Demo
          .sandbox.well
            span.btn.spawner Show overlay

        .span4
          header
            h2 Code
          pre.prettyprint.linenum#code

    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='underscore-min.js')
    script(type='text/javascript', src='bootstrap.js')
    script(type='text/javascript', src='prettify.js')
    script(type='text/javascript', src='api.js')
    script(type='text/javascript', src='WindowShade.js')
    script(type='text/javascript', src='Overlay.js')
    script(type='text/javascript', src='mixin/Position.Absolute.js')
    script(type='text/javascript', src='mixin/Position.Center.js')
    script(type='text/javascript', src='mixin/Position.RelativeAbove.js')
    script(type='text/javascript', src='mixin/Position.RelativeBelow.js')
    script(type='text/javascript', src='mixin/Position.RelativeLeft.js')
    script(type='text/javascript', src='mixin/Position.RelativeRight.js')
    script(type='text/javascript', src='app.js')