!!! 5
html
  head
    title Overlay
    link(rel='stylesheet', type='text/css', href='bootstrap.css')
    link(rel='stylesheet', type='text/css', href='bootstrap-responsive.css')
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='overlay.css')

  body

    .container-fluid
      .row-fluid
        .span2.options
          form
            header
              h2 Options
            
            fieldset
              legend Backdrop
              label.radio
                input(type='radio', name='backdrop', id='backdrop-0', value=0, checked)
                | Never
              label.radio
                input(type='radio', name='backdrop', id='backdrop-1', value=1)
                | Always
              label.radio
                input(type='radio', name='backdrop', id='backdrop-2', value=2)
                | When pinned

            fieldset
              legend Position
              label.radio
                input(type='radio', name='position', id='position-absolute', value='Absolute')
                | Absolute
              .controls-row
                input.input-mini(type='text', name='left', placeholder='left', disabled)
                input.input-mini(type='text', name='top', placeholder='top', disabled)
              label.radio
                input(type='radio', name='position', id='position-center', value='Center', checked)
                | Center
              label.radio
                input(type='radio', name='position', id='position-relative-above', value='RelativeAbove')
                | Relative (above)
              label.radio
                input(type='radio', name='position', id='position-relative-below', value='RelativeBelow')
                | Relative (below)
              label.radio
                input(type='radio', name='position', id='position-relative-left', value='RelativeLeft')
                | Relative (left)
              label.radio
                input(type='radio', name='position', id='position-relative-right', value='RelativeRight')
                | Relative (right)

            fieldset
              legend Content
              textarea(rows=3, name='content')
                | Sample content.

            fieldset
              legend Style
              label.radio
                input(type='radio', name='style', id='style-alert', value='alert', checked)
                | Alert
              label.radio
                input(type='radio', name='style', id='style-error', value='alert alert-error')
                | Error
              label.radio
                input(type='radio', name='style', id='style-success', value='alert alert-success')
                | Success
              label.radio
                input(type='radio', name='style', id='style-info', value='alert alert-info')
                | Info

            fieldset
              legend Other
              label.checkbox
                input(type='checkbox', name='autoShow', checked)
                | Show automatically
              label.checkbox
                input(type='checkbox', name='close', checked)
                | Show close button

            fieldset.submit
              legend &nbsp;
              input.btn.btn-large(type='button', value='Create!', onclick='app.createOverlay(this.form)')

        .span10.sandbox.well
          span.btn BOOM!

    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='underscore-min.js')
    script(type='text/javascript', src='bootstrap.js')
    script(type='text/javascript', src='../lib/api.js')
    script(type='text/javascript', src='../lib/Overlay.js')
    script(type='text/javascript', src='../lib/mixin/Position.Absolute.js')
    script(type='text/javascript', src='../lib/mixin/Position.Center.js')
    script(type='text/javascript', src='app.js')