!!! 5
html
  head
    title Overlay
    link(rel='stylesheet', type='text/css', href='bootstrap.css')
    link(rel='stylesheet', type='text/css', href='bootstrap-responsive.css')
    link(rel='stylesheet', type='text/css', href='style.css')

  body


    script(type='text/javascript', src='bootstrap.js')