!!! 5
html
  head
    title Overlay
    link(rel='stylesheet', type='text/css', href='bootstrap.css')
    link(rel='stylesheet', type='text/css', href='bootstrap-responsive.css')
    link(rel='stylesheet', type='text/css', href='style.css')

  body


    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='underscore-min.js')
    script(type='text/javascript', src='bootstrap.js')
    script(type='text/javascript', src='../lib/api.js')
    script(type='text/javascript', src='../lib/Overlay.js')