
.options
  textarea
    width 155px

fieldset.submit .btn
  display block
  margin 0 auto

.sandbox
  height 900px
  margin-top 20px
  position relative

  .spawner
    position absolute
    left 50%
    top 50%
    margin-left -36px
    margin-top -15px
    display none

.overlay.alert
  margin-bottom 0
